@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    display: flex;
    width: 100%;
    /* height: 100px; */
    overflow: hidden;
    user-select: none;
    mask-image: linear-gradient(to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 10%,
            hsl(0 0% 0% / 1) 90%,
            hsl(0 0% 0% / 0));
}

@keyframes fade-in {
    from {
        left: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.child {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    width: 100%;
    /* height: 100px; */
    animation: fade-in 30s linear infinite;
}

.imgGroup {
    display: grid;
    place-items: center;
    width: clamp(10rem, 1rem + 40vmin, 30rem);
    padding: calc(clamp(10rem, 1rem + 30vmin, 30rem) / 10);
}

.image {
    object-fit: contain;
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    aspect-ratio: 16/9;
    padding: 5px 20px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.react-datepicker-wrapper {
    width: 100%;
}